
html {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	font-family: monospace;
	color: white;
}

.toggleSwitch {
    width: 25px;
    height: 70px;
    /* add other styling as appropriate to position element */
    position: absolute;

    margin-right: 1%;
    margin-top: 1%;
    border: 2px solid white;
    cursor: pointer;
    right: 0;
}



#personal {
	width: 20%;
	height: 80%;
	border: 2px solid #085912;
	
	margin-left: 1%;
	margin-top: 1%;

	border-radius: 5px;
	background-color: white;

	position: fixed;
}

#personal #face {
	min-height: 90px;
	min-width: 90px;
	height: 9%;
	width: 5%;
	padding: 0;
	margin: 10px;
	border: 2px solid #085912;
	border-radius: 5px;
	position: fixed;
}

#personal #name {
	margin-top: 10%;
	margin-left: 150px;
	color: #085912;
}

#personal #skills {
	margin-top: 15%;
	margin-left: 10%;
	color: #085912;

	overflow-x: hidden;
	overflow-y: auto;

	padding: 2%;
	width: 80%;
	height: 70%;
}

#personal #skills a {
	text-decoration: none;
}

#main {
	margin-top: 1%;
	margin-left: 23%;

	width: 70%;
	height: 80%; 
	border: 2px solid #085912;

	border-radius: 5px;
	background-color: white;

	color: black;
	position: fixed;	
}

#main h1 {
	padding: 25%;
}

#construction {
	position: fixed;
	width: 100%;
	bottom: 0;
	color: yellow;
	border: 2px solid yellow;
	border-left: none;
	padding-left: 45%;
}

.hk {
	display: inline;
	cursor: pointer;
}
.en {
	display: none;
	cursor: pointer;
}
.pt {
	display: none;
	cursor: pointer;
}