
html {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	font-family: monospace;
	color: white;
	font: ;
}

#main {
	width: 20%;
	height: 60%;
	border: 2px solid #085912;
	position: absolute;
	margin-left: 1%; 
	
	margin-top: 1%;

	border-radius: 5px;
	background-color: white;

	position: fixed;
}

#main #face {
	height: 100px;
	width: 100px;
	padding: 0;
	margin: 10px;
	border: 2px solid #085912;
	border-radius: 5px;
	position: fixed;
}

#main #name {
	margin-top: 50px;
	margin-left: 150px;
	color: #085912;
}

#main #skills {
	margin-top: 50px;
	margin-left: 50px;
	color: #085912;
}



#construction {
	position: fixed;
	width: 100%;
	bottom: 0;
	color: yellow;
	border: 2px solid yellow;
	padding-left: 45%;
}