
body {
	background-color: #010601;
	font-family: monospace;
	color: white;
}

#main {
	display: none;
	border: 2px solid #085912;
	border-radius: 5px;
	background-color: white;
	color: black;
	padding: 5%;
}

#personal {
	width: 90%; 
	border: 2px solid #085912;
	border-radius: 5px;
	background-color: white;
	color: #085912;
	padding: 5%;
}

#personal #skills {
	margin-top: 90px;
}

#personal #name {
	display: block;
	margin-left: 45%;
	margin-top: 40px;
}

#personal #face {
	border-radius: 5px;
	border: 2px solid #085912;
	width: 40%;
	max-width: 120px;
	float: left;
}

#skillsList, #projectsList, #contactsList {
	list-style: none;
}


img {
	max-width: 100%;
	height: auto;
}

#construction {
	bottom: 0;
	color: yellow;
	border: 2px solid yellow;
	padding-left: 30%;

}

.hk {display: inline;}
.en {display: none;}
.pt {display: none;}

#ptImg{border:0;border-radius: 2px;}
#enImg{border:0;border-radius: 2px;}
#hkImg{border:2px solid white;border-radius: 2px;}

#skillsClosed{display: inline;}
#projectsClosed{display: inline;}
#contactsClosed{display: inline;}

#skillsList{display: none;}
#projectsList{display: none;}
#contactsList{display: none;}

@media screen and (min-width: 500px) {
	#personal {
		position: fixed;
		width: 35%;
		height: 80%;
	}

	#personal #face {
		float: top;
		
	}

	#personal #skills {
		width: 100%;
		height: 80%;
		margin-top: 140px;
		overflow-x: hidden;
		overflow-y: auto;
	}

	

	#main {
		width: 40%;
		height: 80%;
		display: inline;
		margin-right: 1%;
		position: fixed;
		right: 0;
		
	}

	#construction {
		position: fixed;
		width: 90%;
		bottom: 0;
		color: yellow;
		border: 2px solid yellow;
		left: 0;
		border-left: 0;
		padding-left: 35%;
	}

	.toggleSwitch {
	    width: 25px;
	    height: 70px;
	    position: absolute;
	    margin-right: 0;
	    margin-top: 0;
	    cursor: pointer;
	    right: 0;
	    background-color: #085912;
	    padding: 3px;
	    border-top-left-radius: 10px;
		border-bottom-left-radius: 10px; 
	}

}


@media screen and (min-width: 900px) {

	#personal {
		position: fixed;
		padding: 1%;
		width: 20%;
		height: 85%;
	}

	#main {
		position: fixed;
		padding: 1%;
		width: 70%;
		height: 85%;
	}

	#construction {
		position: fixed;
		width: 100%;
		bottom: 0;
		color: yellow;
		border: 2px solid yellow;
		border-left: none;
		padding-left: 45%;
	}

	.toggleSwitch {
	    width: 25px;
	    height: 70px;
	    position: absolute;
	    margin-right: 1%;
	    margin-top: 1%;
	    cursor: pointer;
	    right: 0;
	}

	.hk {display: inline;}
	.en {display: none;}
	.pt {display: none;}

	#ptImg{border:0;border-radius: 2px;}
	#enImg{border:0;border-radius: 2px;}
	#hkImg{border:2px solid white;border-radius: 2px;}

	#skillsClosed{display: inline;}
	#projectsClosed{display: inline;}
	#contactsClosed{display: inline;}

	#skillsList{display: none;}
	#projectsList{display: none;}
	#contactsList{display: none;}
}
