/* COLORS */
body {
  background-color: #fff6ee;
  /* background-color: #4e2200; */
  margin: 0px;
  padding: 0px;
  height: 100%; 

  font-family: 'Quantico', sans-serif;

}

iframe{ border: none; }

* {
  /* border: red 1px solid; */
}

#main-container {
  height: 100%; 

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10px 100px auto 60px;
  
}

#header {
  background-color: #ffe2cc;
  
  grid-row-start: 2;
  grid-row-end: 3;

  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: auto;
  grid-column-gap: 10px;
}

#header div {
  font-size: 1.5em;
  display: inline;

  grid-column-start: 2;
  grid-column-end: 3;
  align-self: end;
}

#header div ul li {
  display: inline;
  padding: 0px 20px;
}

#profile-photo {
  background-image: url("../resources/profile-photo.jpg");
  background-size: cover;
  border-radius: 50%;

  grid-column-start: 4;
  grid-column-end: 5;
}

#main {
  padding: 15px;
  grid-row-start: 3;
  grid-row-end: 4; 

  display: grid;
}

#main iframe {
  place-self: center;
}

#footer {
  display:inline; 

  grid-row-start: 4;
  grid-row-end: 5;
}

#footer ul {
  text-align: center;
}

#footer ul li {
  display: inline;
  padding: 0px 20px;
}