/* COLORS */
$AreaBackground: rgba(0,0,0,0.9);
$TextColor: #ddd;
$MediumImage: 150px;

$PhoneSize: 568px;
$TabletSize: 768px;

$SideMargin: 5%;

body {
	background-image: url("../resources/background8bit.png");
	padding: 2%;
}


/*MAIN AREAS -> PERSONAL AREA + SKILLS AREA*/

.main {
	font-family: 'Press Start 2P', cursive;
	font-size: 0.7em;
	background-color: $AreaBackground;
	
	height: 100%;
	margin-top: 5px;
	padding: 10px;

	color: $TextColor;
	text-align: center;

	box-shadow: 5px 5px 20px 0px #000;
}

/*PERSONAL AREA*/

#personalArea {
	margin-right: 5%;

	table {
		margin-left: 45%;
	}
}


#homeButton {
	display: inline;
	cursor: pointer;

	@media screen and (max-width: $PhoneSize) {
    	display: none;
  	}

}

/*SKILLS AREA*/

#skillsArea {
	overflow: auto;
	overflow-x: hidden;


	@media screen and (max-width: $PhoneSize) {
    	display: none;
  	}
}

#hobbiesPanel {
	width: 100%;
	position: absolute;
	bottom: 5%;
}

#contactsPanel {
	width: 100%;
	position: absolute;
	bottom: 5%;
}

#miniDescription {
	display: none;

	@media screen and (max-width: $PhoneSize) {
    	display: inline;
    	padding-right: $SideMargin;
		padding-left: $SideMargin;
  	}
}

.skill {
	text-align: center;

	img:hover {
		opacity: 0.5;
		cursor: pointer;
	}
}


.programmingSkill {
	text-align: center;
	margin: 15px;
	padding-bottom: 30px;
	table {
		color: $TextColor;
	}
}


/*DIFFERENT SKILL VIEWS*/
#mainView {
	display: inline;
}

#educationView {
	display: none;
	padding-right: $SideMargin;
	padding-left: $SideMargin;
}

#personalView {
	display: none;
	padding-right: $SideMargin;
	padding-left: $SideMargin;

}

#professionalAreaView {
	display: none;
	padding-right: $SideMargin;
	padding-left: $SideMargin;
}

#cyclingView {
	display: none;
	padding-right: $SideMargin;
	padding-left: $SideMargin;
}

#gamingView {
	display: none;
	padding-right: $SideMargin;
	padding-left: $SideMargin;
}

#musicView {
	display: none;
	padding-right: $SideMargin;
	padding-left: $SideMargin;
}

#projectView {
	display: none;
	padding-right: $SideMargin;
	padding-left: $SideMargin;
}

.imageProfileSize {
	width: $MediumImage;
	height: $MediumImage;
}


.styledList {
	text-align: left;
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	ul li {
		background-image: url("../resources/MarioBullet.png");
		background-repeat: no-repeat;
		background-position: 0px center;
		padding-left: 30px;
		line-height: 30px;
	}

	ul ol {
		list-style-type: none;
	}

	ul ol li {
		background-image: none;
	}
}