<div class="programmingSkill">
		<div class="row">
			<div class="col-md-6">
				<img src="{{ id.logo }}">
			</div>

			<div class="col-md-6">
				<h4>{{ id.name }}</h4>
				<span>Skill Level</span>
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="{{id.level}}" aria-valuemin="0" aria-valuemax="10" style="width: {{id.level}}0%;">
						{{ id.level }} / 10
					</div>
				</div>
			</div>

			
		</div>
		

		<div class="row">
			
			<div class="col-md-6">
				<br>
				<br>
				<b>Sub skills</b>
				<br>
				<br>
				<div class="styledList">
					<ul>
						<li ng-repeat="SubSkill in id.SubSkills"> {{ SubSkill }} </li>
					</ul>
				</div>
			</div>

			<div class="col-md-6">
				<b>Projects</b>	
				<div class="styledList">
					<ul ng-controller="MainController">
						<span ng-repeat="project in projects">
							<span ng-if="project.language === id.name">
								<li class="projectItem">
									<a href={{project.link}} target="_blank">{{project.name}}</a>
								</li>
							</span>
						</span>
					</ul>
				</div>
			</div>

			
		</div>
		
		<hr>
	



	<!--
	<h3>{{ id.name }}</h3>

	<span>Skill Level</span>
	<div class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="{{id.level}}" aria-valuemin="0" aria-valuemax="10" style="width: {{id.level}}0%;">
			{{ id.level }} / 10
		</div>
	</div>

	<span>Projects</span>	
	<ul ng-controller="MainController">
		<span ng-repeat="project in projects">
			<span ng-if="project.language === id.name">
				<li>
					<a href={{project.link}} target="_blank">{{project.name}}</a>
				</li>
			</span>
		</span>
	</ul>

	<span>Sub skills</span>

	<ul>
		<li ng-repeat="SubSkill in id.SubSkills"> {{ SubSkill }} </li>
	</ul>
	-->

</div>
