.bargraph {
	background-color: #ccc;
	height: 229px;
	position: relative; 
	/*border: 10px solid #d4d4d4;*/
	margin: 15px auto 50px;
}

.bargraph ul.bars {
margin: 0;
padding: 0;
/* getting rid of bullets */
list-style-type: none;
}

.bargraph ul.bars li {
position: absolute;
background: url(../resources/bars200.jpg) no-repeat;

/*move it up from bottom label*/
bottom: 29px;
width: 30px;
height: 200px;
padding: 0; margin: 0;
margin-left: 8px;
text-align: center;
font-weight: 800;
color: white;
line-height: 2.5em;
font-size: 12px;
z-index: 99;
}

.bargraph ul.bars li span { 
	position: relative; 
	top: -25px; 
	color: #7c7c7c; 
}

.bargraph ul.bars li img {
margin: 0; padding: 0;
position: relative;
top: -50px;
left: 0;
}

.bargraph p {
position: absolute;
left: 0;
top: 236px;
width: 100%;
padding: 0; margin:0;
font-size: 2em;
text-align: left;
color: black;
line-height: 2em;
}
.bargraph p.centered { text-align: center; }

.label {
list-style-type: none;
position: absolute; 
bottom: 3px;
margin: 0; padding: 0;
background-color: black;
height: 20px;
}

.label li {
color: white;
text-transform: uppercase;
letter-spacing: 0.1em;
font-size: 8px;
width: 73px;
text-align: center;
/*safeguard against a label that is too long*/
overflow: hidden;
float: left;
}

ul.y-axis {
list-style-type: none;
position: absolute;

/*positioning the ul box - the box that goes around the list, 100, 75,... */
left: -45px;
bottom: 0;
width: 40px;
text-align: right;
margin: 0; padding: 0;
}

ul.y-axis li {
color: #aba8a8;
font-size: 12px;
height: 51px;
line-height: 51px;
text-align: right;
}

ul.y-axis li:first-child {
height: 40px;
line-height: 40px;
}

ul.y-axis li.units {
position: absolute;
bottom: 110px;
right: 20px;
line-height: 1.2em;
height: auto;
}

/* positioning each bar on the graph paper - these numbers will change
based upon the background image for graph paper */
.bargraph ul.bars li.bar1 { left: 21px; }
.bargraph ul.bars li.bar2 { left: 94px; }
.bargraph ul.bars li.bar3 { left: 167px; }
.bargraph ul.bars li.bar4 { left: 240px; }
.bargraph ul.bars li.bar5 { left: 313px; }
.bargraph ul.bars li.bar6 { left: 386px; }
.bargraph ul.bars li.bar7 { left: 459px; }
.bargraph ul.bars li.bar8 { left: 532px; }
.bargraph ul.bars li.bar9 { left: 605px; }

/* Sprites - bottom means 100% in background-position */
.bargraph ul.bars li.bluebar        { background-position: 0px bottom; }
.bargraph ul.bars li.redbar         { background-position: -30px bottom; }
.bargraph ul.bars li.greenbar      { background-position: -60px bottom; }
.bargraph ul.bars li.yellowbar      { background-position: -90px bottom; }
.bargraph ul.bars li.pinkbar      { background-position: -120px bottom; }
.bargraph ul.bars li.purplebar      { background-position: -150px bottom; }
.bargraph ul.bars li.redbar      { background-position: -180px bottom; }
.bargraph ul.bars li.darkbluebar      { background-position: -210px bottom; }
.bargraph ul.bars li.goldbar       {  background-position: -240px bottom; }
.bargraph ul.bars li.tealbar       {  background-position: -270px bottom; }

